@charset "UTF-8";
/* marge générale de 70px */
.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-family: sans-serif;
  margin: 0 70px;
}
.wrapper > * {
  flex: 1 100%;
}

/*NAVIGATION BAR */
.navBar {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding-bottom: 5px;
}

#searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 470px;
  height: 45px;
  border: 1px solid rgb(206, 206, 206);
  background-color: white;
  font-size: 15px;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
}

#uneSemaine {
  border-left: 1px solid rgb(206, 206, 206);
  border-right: 1px solid rgb(206, 206, 206);
  padding: 0 20px;
}

#ajoutVoyageurs {
  color: gray;
  font-weight: normal;
  padding: 0 10px;
}

#loupe {
  padding-right: 10px;
}

#terre {
  margin: 0 10px;
}

#notif {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80px;
  height: 40px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 50px;
}

#navBarButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navBarButtons > p {
  font-size: 15px;
  font-weight: 600;
  margin: 0 70px;
}

/*  END NAV BAR  */
/*  ACCOM TYPE  */
.accomType {
  display: flex;
  align-items: center;
  padding: 20px 0 20px 0;
  justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
  color: gray;
  /* taille des icônes accomType */
  /* alignement icône et texte accom Type */
}
.accomType img {
  width: 25px;
  height: 25px;
}
.accomType > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chevron {
  width: 15px;
  height: 15px;
  padding-bottom: 25px;
}

#filtres {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#filtresRectangle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: space-between;
  border-radius: 15px;
  border: 1px solid rgb(206, 206, 206);
  margin-bottom: 15px;
}
#filtresRectangle img {
  width: 15px;
  height: 15px;
  padding: 0 10px 0 15px;
}
#filtresRectangle p {
  padding: 0 15px 0 0;
  color: black;
}

/*  END ACCOM TYPE  */
/*  ADS   */
#ads {
  display: flex;
  flex-wrap: wrap;
}

.ad {
  font-size: 15px;
  margin: 0 15px 30px 15px;
  /*etoile*/
  /* etoiles 3,4 */
}
.ad * {
  margin: 0;
}
.ad > img {
  width: 325px;
  height: 325px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.ad div img {
  width: 15px;
  height: 15px;
}
.ad div div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#villeEtoiles {
  display: flex;
  justify-content: space-between;
}

#particulier {
  margin-top: 5px;
  color: grey;
}

#dates {
  margin-bottom: 5px;
  color: gray;
}

/*  END ADS  */
/*  FOOTER    */
#footer {
  position: fixed;
  left: 10;
  bottom: 0;
  background-color: white;
  width: 100%;
  height: 35px;
  border-top: 1px solid rgb(206, 206, 206);
  display: flex;
  align-items: center;
  justify-content: left;
}
#footer img {
  padding: 0 20px;
}

/*  END FOOTER    *//*# sourceMappingURL=style.css.map */